@font-face {
    font-family: 'Elemental End'; /*a name to be used later*/
    src: url('fonts/Elemental End.ttf'); /*URL to font*/
}

html {
	font-family: 'Open Sans', Sans-Serif;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url('pictures/sayagata-400px/sayagata-400px.png');
}

#wrapper {
	padding-left: 5px;
	padding-right: 5px;
}

#header {
	font-family: 'Elemental End';
}

#question-header {
	font-size: 26px;
}

#answers > label {
	display: block;
}

input[type="checkbox"] {
	margin: 5px;
}

p {
	font-weight: 700;
}